{% extends 'base.html.twig' %}

{% block title %}Accueil - BackOffice Festival{% endblock %}

{% block body %}

{% include 'header.html.twig'%}

<main id="appMain">

{% include 'sideBar.html.twig'%}



</main>




{% endblock %}
