{% extends 'home/index.html.twig' %}

{% block title %}Carte interactive{% endblock %}

{% block content %}
<div class="contentContainer">
<h2>Gestion de la carte</h2>
   
   <div id="map">
   
   </div>

</div>
{% endblock %}