{% extends 'home/index.html.twig' %}

{% block title %}Style de musique{% endblock %}

{% block content %}
<div class="contentContainer">
<h2>Gestion des styles musicaux</h2>
    <a href="{{ path('app_admin_style_new') }}" class="btn btn-primary">Créer style</a>

<h3>Liste des styles</h3>

   <ul>
        {% for style in styles %}
            <li>{{ style.name }} <a href="{{ path('app_admin_style_delete', {'id': style.id}) }}">Effacer</a></li>
        {% endfor %}
    </ul>

</div>
{% endblock %}