

/* Variables CSS */
:root {
    --main-bg-color: #f8f9fa;
    --main-font-family: Verdana, Geneva, Tahoma, sans-serif;
    --main-text-color: black;
    --primary-color: #2196F3;
    --secondary-color: #007bff;
    --border-radius: 5px;
    --padding-small: 10px;
    --padding-medium: 15px;
    --padding-large: 25px;
}

/*Style Global*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: var(--main-font-family);

}

body {
    max-width: 1440px;
    margin: 0 auto;
    min-height: 100vh;
}

.flexCont{

display:flex;
flex-direction:column;
gap:15px;

}

.listCount p{

font-size: 0.8rem;
margin-left: 15px;
}


/**************Formulaires**************/
.formBase{

flex-grow: 1;
align-items: center;
justify-content: flex-start;

}

#mainLogo a
{

text-decoration: none;

}

#mainLogo a h1{

font-size: 1rem;
color: black;

}

.formGroup textarea{

    min-height: 200px;

}

.formContainerBase{
    margin-top: 50px;
    background-color: #f8f9fa;
    padding: 25px;
    width: 95%;
    
}


.listBaseItem{

display: flex;
justify-content: space-between;
background-color: #f8f9fa;
padding: 15px;


}

.listItemTitle{

display: flex;
gap:10px;
font-weight: bold;
font-size: 1.1rem;
align-content: center;
flex-wrap: wrap;

}

.listItemAction{

display: flex;
gap: 25px;

}

.listItemIcon, .listBaseItem svg{

width: 15px;
}

.filterOptions select, .formGroup select, .formGroup input[type="text"], .formGroup input[type="datetime-local"],.formGroup textarea{

padding: 10px;
border-radius: 5px;
border: 1px solid #ccc;



}


/*********************Bandeau flash**********************/

.flashBand{

display: flex;
justify-content: space-between;
align-items: center; ;
color: white;
border-radius: 10px;
padding: 10px;
margin: 15px;
border: 2px solid red;
color: black;
font-weight: bold;
gap: 15px;

}

.flashBand img{
height: 30px;
}



/*****Toggle Button*****/

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.toggle-group {
    display: flex;
    gap: 10px;
    align-items: center;

}

/*****Mise en forme de la map*****/

#map {
    min-height: 400px;
    width: 100%;
}

/*****Mise en forme du formulaire de login*****/

#loginForm {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: auto;
    margin: auto auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, -50%);

}

#loginForm h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

#loginForm input {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    padding: 10px;
    background-color: black;
    border-radius: 4px;
    color: white;
    border: none;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 1rem;
    max-width: 200px;
    font-weight: bold;
    min-height: 40px;

}

#appHeader{

max-width: 1440px;
margin: 0 auto;
height: 10%;
display: flex;
align-items: center;
background-color: #f8f9fa;

}

#mainLogo{
    padding:15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#headerContainer{

display: flex;
align-items: center;
justify-content: space-around;
width: 100%;

}

#mainNav{
    width: 100%;
    padding: 15px;

}

#mainNav ul
{

width: 100%;
display: flex;
align-items: center;
justify-content: flex-end;
gap: 20px;


}

#mainNav ul li{

list-style: none;
text-decoration: none;


}

#mainNav ul li a img{

width: 30px;
}

/***Sidebar***/

.userInfos, .userInfos h2 {

font-size: 0.8rem;

}

.userInfos {
    gap: 5px;
    align-items: start;
    justify-content: center;
    padding: 15px;
}

#sidebarMenu {
    width: 95%;
    margin: 0 auto;
    padding: 15px;
    background-color: #f8f9fa;
    

}

.sideBarVisible {
    display: block;
}

.sideBarHidden {
    display: none;
}

#sidebarMenu nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebarMenu nav ul li {
    margin: 10px 0;
}

#sidebarMenu nav ul li a {
    text-decoration: none;
    color: #333;
}

#sidebarMenu nav ul li a:hover {
    color: #007bff;
}

#sidebarMenu ul.sub-menu {
   
   font-size: 0.8rem;
   margin-left: 15px;
}

#sidebarMenu li.menu{
    margin: 5px 0;
    font-size: 1rem;
    font-weight: bold;
}

.sub-menu {
    display: none;
    list-style-type: none;
    padding-left: 20px;
}

.toggle-arrow {
    cursor: pointer;
    font-size: 12px;
    margin-left: 5px;
}

.sub-menu-visible {
    display: block;
}

/***Main Content***/

#appMain{

min-height: 90vh;
width: 100%;

}

.contentContainer{

flex-grow: 1;
padding: 15px;
display: flex;
flex-direction: column;
gap: 15px;

}

.contentContainer h1{
    width: 100%;

  
}

/*****Formulaire concert*****/

#imagePreview{

width: 100%;

}

#imagePreview img{
    width: 100%;
}

/***Planning concerts***/



.calendar {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 10px;
}

.calendar-header {
    display: grid;
    gap: 10px;
}

.calendar-hour {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.calendar-day {
    background-color: #f0f0f0;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

.calendar-body {
    display: grid;
  
    gap: 10px;
}

.calendar-slot {
    border: 1px solid #e0e0e0;
    min-height: 50px;
    position: relative;
    border-radius: 5px;
}

.calendar-event {
    background-color: #e0e0e0;
    padding: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
  

}

.event-title {
    font-weight: bold;
}

.event-actions {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.event-actions .button {
    margin-right: 5px;
}

@media screen and (min-width: 768px) {
    
    #hamburger-button{
        display: none;
    }


    #appMain{
        flex-direction: row;
        
    }

    #sidebarMenu{
     width: 250px;
    display: block;
    }
    
}


    @media (max-width: 768px) {
        .calendar-header,
        .calendar-body {
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
        }

        .calendar-hour,
        .calendar-day, .listItemAction a {
            font-size: 0.8rem;
        }

        .calendar-slot {
            min-height: 30px;
        }

        .listItemTitle span{
          font-size: 0.9rem;
                }
    }

    @media (max-width: 480px) {
        .calendar-header,
        .calendar-body {
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr;
        }

        .calendar-hour,
        .calendar-day, .listItemAction a {
            font-size: 0.6rem;
            padding: 5px;
        }

        .calendar-slot {
            min-height: 20px;
        }

        .listItemTitle span{
          font-size: 0.7rem;
                }



    }
