<aside id="sidebarMenu">
<div class="userInfos">
<h2>Utilisateur connecté</h2>
<p>{{ firstName }}</p>
<p>{{ role }}</p>

</div>

    <nav>
        <h3>Gestion contenu</h3>
        <ul class="menu">
            <li><a href="/admin/band">Groupes</a>
            <ul class="sub-menu">
                <li><a href="/admin/band">Gérer les Groupes</a></li>
                <li><a href="/admin/band/style">Gérer les styles Musicaux</a></li>
            </ul>
            </li>
            <li><a href="/about">Concerts</a>
            <ul class="sub-menu">
                <li><a href="/admin/concert">Gérer les Concerts</a></li>
                <li><a href="/admin/concert/stage">Gérer les Scènes</a></li>
            </ul>
            </li>
            <li><a href="/services">Informations</a>
            <ul class="sub-menu">
                <li><a href="/admin/services">Gérer les actualités</a></li>
                <li><a href="/admin/services/booking">Gérer les Evènements</a></li>
                <li><a href="/admin/services/booking">Gérer la FAQ</a></li>
                <li><a href="/admin/partner">Gérer les partenaires</a></li>
            </ul>
            </li>
            <li><a href="/contact">Carte interactive</a>
            <ul class="sub-menu">
                <li><a href="/admin/contact">Paramètres</a></li>
                <li><a href="/admin/contact">Gérer les lieux</a></li>
            </ul>
            </li>
        </ul>
    </nav>

    {% if is_granted('ROLE_ADMIN') %}


    <nav>
        <h3>Menu Administrateur</h3>
        <ul>
            <li><a href="/users">Liste des Editeurs</a></li>
            <li><a href="/users">Paramètres</a></li>
        </ul>

    </nav>

    {% endif %}


</aside>


