<aside id="sidebarMenu">
<div>
<h2>Utilisateur connecté</h2>
<p>{{ firstName }}</p>
<p>{{ role }}</p>

</div>

    <nav>
        <h2>Gestion contenu</h2>
        <ul>
            <li><a href="/home">Groupes</a></li>
            <li><a href="/about">Styles Musicaux</a></li>
            <li><a href="/services">Scènes</a></li>
            <li><a href="/about">Concerts</a></li>
            <li><a href="/services">Informations</a></li>
            <li><a href="/contact">Evènements</a></li>
            <li><a href="/contact">Carte interractive</a></li>
           
        </ul>
    </nav>

    {% if is_granted('ROLE_ADMIN') %}


    <nav>
        <h2>Gestion Editeurs</h2>
        <ul>
            <li><a href="/users">Liste des Editeurs</a></li>
     
        </ul>

    </nav>

    {% endif %}


</aside>


