<aside id="sidebarMenu">
<div class="userInfos">
<h2>Utilisateur connecté</h2>
<p>{{ firstName }}</p>
<p>{{ role }}</p>

</div>

    <nav>
        <h3>Gestion contenu</h3>
        <ul class="menu">
            <li><a href="/admin/band">Groupes</a>
            <ul class="sub-menu">
                <li><a href="/admin/band">Gérer les Groupes</a></li>
                <li><a href="/admin/band/style">Gérer les styles Musicaux</a></li>
            </ul>
            </li>
            <li><a href="/admin/concert">Concerts</a>
            <ul class="sub-menu">
                <li><a href="/admin/concert">Gérer les Concerts</a></li>
                <li><a href="/admin/concert/stage">Gérer les Scènes</a></li>
            </ul>
            </li>
            <li><a href="/admin/faq">Informations générales et FAQ</a>
            <ul class="sub-menu">
                <li><a href="/admin/faq">Contenu Informations et FAQ</a></li>
                <li><a href="/admin/faq/category">Sections Informations et FAQ</a></li>
            </ul>
               <li><a>Actualités - Evénèments</a>
            <ul class="sub-menu">
                <li><a href="/admin/news">Gérer évenements</a></li>
                <li><a href="/admin/news/category">Catégories d'évenements</a></li>
            </ul>            
            </li>
            <li><a>Partenaires</a>
            <ul class="sub-menu">
                <li><a href="/admin/partner">Gérer les partenaires</a></li>
                <li><a href="/admin/partner/category">Gérer les catégories de partenaires</a></li>
            </ul>            
            </li>
            <li><a href="/admin/map">Carte interactive</a>
            <ul class="sub-menu">
                <li><a href="/admin/contact">Paramètres</a></li>
                <li><a href="/admin/map/points/category">Catégories de marqueurs</a></li>
            </ul>
            </li>
            <li><a href="/admin/contact">Contact Administrateur</a></li>
        </ul>
    </nav>

    {% if is_granted('ROLE_ADMIN') %}


    <nav>
        <h3>Menu Administrateur</h3>
        <ul>
            <li><a href="/users">Liste des Editeurs</a></li>
            <li><a href="/users">Paramètres</a></li>
        </ul>

    </nav>

    {% endif %}




</aside>


